# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\COMP3702_AI\PycharmProjects\tut11\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
